body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  max-width: 600px;
  width: 90%; /* Adjust width for responsiveness */
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  text-align: center;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  height: 150px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#storage-container, #variable-container {
  display: none;
}

#submit-btn {
  background-color: #4CAF50;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#submit-btn:hover {
  background-color: #45a049;
}

/* START PICTURE STYLE */

#picture__input {
    display: none;
  }
  
  .picture {
    width: 90%; /* Adjust width for responsiveness */
    max-width: 400px; /* Add max-width for responsiveness */
    aspect-ratio: 16/9;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 2px dashed currentcolor;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
  }
  
  .picture:hover {
    color: #777;
    background: #ccc;
  }
  
  .picture:active {
    border-color: turquoise;
    color: turquoise;
    background: #eee;
  }
  
  .picture:focus {
    color: #777;
    background: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .picture__img {
    max-width: 100%;
  }

/* Media Query for smaller screens */
@media only screen and (max-width: 600px) {
  .container {
    padding: 20px; /* Adjust padding for smaller screens */
  }

  input[type="text"],
  input[type="number"],
  textarea {
    margin-bottom: 15px; /* Adjust margin for smaller screens */
  }

  #submit-btn {
    font-size: 14px; /* Adjust font size for smaller screens */
  }

  .picture {
    max-width: 100%; /* Adjust max-width for smaller screens */
  }
}
